# BOF
# ---------------------------------------------------
# ---------------------------------------------------
**/.git

# Dependency directories
dist/**/*
node_modules/**/*

# Log and temporary files
logs/*
*.log
*.tmp
# ---------------------------------------------------
# ---------------------------------------------------
# EOF